{% extends 'base.html.twig' %}

{% block title %}Spécialité des chefs !{% endblock %}

{% block body %}

<!-- Debut de page -->
    <main id="fondGrisSpe">
        <div>
            <div class="fondImgSpe">
                <img src="photos/pageSpecialites/page-chef.jpg" alt="Une main déposant divers ingrédients sur une buche en bois ronde avec une légère vapeur qui s'en dégage">
                <a href="#" class="filtre">Filtrer les menus</a>
            </div>
        </div>

        <!-- Juste après le bouton filtre -->
        <div class="containerSpe flex">
        {% for menu in menus %}

        {{ include("specialite/vignette.html.twig") }}

        {% endfor %}
        </div>
    </main>
{% endblock %}
