{% extends 'base.html.twig' %}

{% block title %}Modifier Membre{% endblock %}

{% block body %}
<body class="bodyAjouterMenu">
    <div class="container">
        <h1>Modification du membre</h1>

			{{ form_start(formModifMembre) }}

			{{ form_widget(formModifMembre) }}

			{{ form_end(formModifMembre) }}

    </div>
</body>
{% endblock %}



