{% extends 'base.html.twig' %}

{% block body %}
  <h3>Etes vous sur de vouloir supprimer le membre n°{{ membre.id }}</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Pseudo : </strong>{{ membre.pseudo }}</li>
      <li class="list-group-item"><strong> mail : </strong>{{ membre.mail }}</li>
    </ul>

    <form method="POST">
      <button type="submit" class="btn btn-success">Confirmer</button>
      <a href="{{ path("membre") }}" class="btn btn-danger">Annuler</a>
    </form>
{% endblock %}