{% extends 'base.html.twig' %}

{% block body %}
<body class="bodyAjouterMenu">
<div class="container">
  <h3>Etes vous sur de vouloir supprimer le membre n°{{ membre.id }} ?</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Pseudo : </strong>{{ membre.pseudo }}</li>
      <li class="list-group-item"><strong> mail : </strong>{{ membre.mail }}</li>
    </ul>

    <form method="POST"  class="mb-5">
      <button type="submit" class="btn btn-info mt-5">Confirmer</button>
      <a href="{{ path("membre") }}" class="btn btn-outline-info mt-5">Annuler</a>
    </form>
  </div>
</body>
{% endblock %}