{% extends 'base.html.twig' %}

{% block title %}Ajouter Menu{% endblock %}

{% block body %}

<table class="tableMenu">
  <thead class="theadMenu">
    <th class="contourMenu">
      {{ form(formMenu) }}
    </th>
   </thead>
</table>
{% endblock %}